body {
    margin: 0;
    padding: 0;
}

/*----------LAPTOP----------*/

@media only screen and (min-width: 500px) {

h1 {
    margin-top: 10vh;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.container {
    padding: 10px;
    width: 500px;
    margin: 10px auto;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}

form {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

select {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button {
    width: 50%;
    height: 40px;
    margin: 20px auto;
    display: block;
    text-align: center;
    background-color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 90px;
}

}

/*----------SMARTPHONE----------*/

@media only screen and (max-width: 500px) {

    h1 {
        margin-top: 10vh;
        justify-content: center;
        text-align: center;
        font-family: "Inter", sans-serif;
        max-width: 90%;
        font-size: 5vw;
        padding: 0 10vh;
        margin-bottom: 50px;
    }
    
    .container {
        padding: 10px;
        max-width: 90%;
        margin: 10px auto;
        color: white;
        background-color: black;
        border-radius: 10px;
        font-family: "Inter", sans-serif;
        box-sizing: border-box;
    }
    
    form {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 15px;
    }
    
    input, select {
        padding: 10px;
        border-radius: 10px;
        border: none;
    }
    
    button {
        width: 60%;
        height: 40px;
        margin: 20px auto;
        display: block;
        text-align: center;
        background-color: white;
        color: black;
        font-family: "Inter", sans-serif;
        font-size: 15px;
        border: none;
        border-radius: 90px;
    }
    
    }
